<h1>New Article Page</h1>

<form method="post" action="/articles">
  <label for="article-title">Title</label>
  <input type="text" name="title" id="article-title" />

  <label for="article-description">Description</label>
  <textarea name="description" id="article-description"></textarea>

  <button type="submit">Create</button>
</form>
