<h1>Articles Page</h1>

<ul>
  <% articles.forEach(article => { %>
  <li style="padding: 2rem; border: 1px solid rgb(230, 230, 230)">
    <h2><%= article.title %></h2>
    <p><%= article.description %></p>

    <div class="actions">
      <a href="/articles/<%= article.id %>/edit">Edit</a>

      <form method="post" action="/articles/<%= article.id %>/delete">
        <button>delete</button>
      </form>
    </div>
  </li>
  <% }) %>
</ul>
