<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>

    <script
      src="https://kit.fontawesome.com/7f41fec6cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/header', { brand: "Medium"}) %>

    <main><%- body %></main>

    <script src="/js/index.js"></script>
  </body>
</html>
